.crm {
	display: flex;
	height: 100vh;
	width: 100%;
	.crmContainer {
		flex-grow: 4.3;

		position: relative;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
		padding: 20px;
		border-radius: 5px;
		background-color: #ffffff;
		margin-top: 20px;

		.crmContent {
			width: 70%;
			max-width: 500px;
			margin: 0 auto;
			padding: 20px;
			background-color: #f5f5f5;
			border-radius: 5px;
			text-align: center;
			h1 {
				font-size: 24px;
				margin-bottom: 20px;
			}
			label {
				display: block;
				margin-bottom: 10px;
				font-weight: bold;
			}
			button {
				padding: 10px 20px;
				background-color: #007bff;
				color: #fff;
				border: none;
				border-radius: 5px;
				cursor: pointer;
				&:hover {
					background-color: #0056b3;
				}
			}
			.error {
				color: red;
				margin-top: 10px;
			}
			select {
				width: 100%;
				padding: 8px;
				margin-bottom: 20px;
				color: black;
				appearance: none;
				background-color: #fff;
				border: 1px solid #ccc;
				border-radius: 5px;
				font-size: 14px;
				outline: none;
				transition: border-color 0.3s ease;
				&:hover,
				&:focus {
					border-color: #007bff;
				}
			}
			button,
			select {
				display: block;
				margin: 0 auto;
			}
		}
	}
}
